# vim: ft=bash
# vim: foldmethod=indent

# Make vim the default editor
export EDITOR="vim";

# Prefer GB English and use UTF-8
export LANG="en_GB.UTF-8";
export LC_ALL="en_GB.UTF-8";

# But from times to times...
# export LANG="fr_FR.UTF-8";
# export LC_ALL="fr_FR.UTF-8";
# export LANG="pt_BR.UTF-8";
# export LC_ALL="pt_BR.UTF-8";

# ruby-build installs a non-Homebrew OpenSSL for each Ruby version installed
# and these are never upgraded.  Link Rubies to Homebrew's OpenSSL 1.1 (which
# is upgraded).
#RUBY_CONFIGURE_OPTS="--with-openssl-=$(brew --prefix openssl@1.1)"
#export RUBY_CONFIGURE_OPTS

# rbenv
export RBENV_SHELL=bash

# Disable Apple's warning about bash deprecation
# https://support.apple.com/en-gb/HT208050
export BASH_SILENCE_DEPRECATION_WARNING=1

# Larger BASH history (allow 32³ entries; default is 500)
export HISTSIZE=50000000;

# Ensure that only unique commands are saved to the BASH history
export HISTCONTROL=ignoredups:erasedups

# Only save successful commands to history file (keep failed commands in memory for current session)
# Capture the command text before it executes (DEBUG trap runs before each command)
# trap '_last_cmd_text=$(history 1 | sed "s/^[ ]*[0-9]*[ ]*//")' DEBUG
# Write successful commands immediately to file, failed ones stay in memory only
# export PROMPT_COMMAND='_last_exit=$?; _env_hook; if [[ $_last_exit -eq 0 ]] && [[ -n "$_last_cmd_text" ]]; then echo "$_last_cmd_text" >> ~/.bash_history; fi; unset _last_exit _last_cmd_text'
export PROMPT_COMMAND=''

# Do not add commands starting with space, cd or ls to the history
# export HISTIGNORE=' *:cd*:ls*'

# Fix 'Error opening terminal: tmux-256color'
export TERM=xterm-256color

# Configure prompt. Using semicolon so that copying and pasting multiple lines
# becomes easier (stolen from
# https://twitter.com/thingskatedid/status/1316081075043463170?s=20&t=nDiwAgT_DL7B30QuV0vnPQ)
export PS1="\n\$([ \$? -gt 0 ] && printf '\[\033[31m\]'; printf '; \[\033[0m\]')"

export HOMEBREW_BUNDLE_FILE_GLOBAL="${HOME}/.Brewfile"

case "$( uname -s )" in
  Linux)
    export HOMEBREW_PREFIX="/home/linuxbrew/.linuxbrew";
    export HOMEBREW_CELLAR="${HOMEBREW_PREFIX}/Cellar";
    export HOMEBREW_REPOSITORY="${HOMEBREW_PREFIX}/Homebrew";
    export PATH="${HOMEBREW_PREFIX}/bin:${HOMEBREW_PREFIX}/sbin${PATH+:$PATH}";
    [ -z "${MANPATH-}" ] || export MANPATH=":${MANPATH#:}";
    export INFOPATH="${HOMEBREW_PREFIX}/share/info:${INFOPATH:-}";
    ;;
esac

# Configure Go. See go env for a full list of environment variables.
# Commenting GOROOT and GOBIN for the time being as it prevents switching
# between golang versions: `brew unlink go@1.18 && brew link go --overwrite`

# This is the location of the Go installation. It is used to find the standard
# libraries.
#GOROOT="$(brew --prefix golang)/libexec"
#export GOROOT

# The directory where go install and go get will place binaries after building
# main packages. Generally this is set to somewhere on the system PATH so that
# installed binaries can be run and discovered easily.
#GOBIN="${GOROOT}/bin"
#export GOBIN
# GOPATH is a variable that defines the root of the workspace. The go get tool
# downloads packages to the first directory in GOPATH.
GOPATH="${HOME}/go"
export GOPATH

